{% extends 'base_mechanic.html' %}

{% block title %}Mechanic Dashboard{% endblock %}
{% block header %}Mechanic Dashboard{% endblock %}

{% block content %}

<div class="row g-4">

<!-- Mechanic Status -->
<div class="col-lg-4 col-md-6">

    <div class="status-card">

        <div class="d-flex justify-content-between align-items-center">

            <div>
                <h6 class="fw-bold mb-1">Mechanic Status</h6>
                <small class="text-muted">Change availability</small>
            </div>

            <div class="form-check form-switch">

                <input class="form-check-input"
                       type="checkbox"
                       id="onlineToggle"
                       data-initial="{{ mechanic.is_online|yesno:'true,false' }}"
                       {% if mechanic.is_online %}checked{% endif %}>

            </div>

        </div>

        <div class="mt-4">

            <span class="badge status-badge"
                  id="statusBadge"
                  data-status="{{ mechanic.is_online|yesno:'online,offline' }}">

                {% if mechanic.is_online %}
                    ● Online
                {% else %}
                    ● Offline
                {% endif %}

            </span>

        </div>

    </div>

</div>

    <!-- Pending Jobs -->

    <div class="col-lg-4 col-md-6">

        <div class="dashboard-card">

            <div class="dashboard-icon bg-warning">
                <i class="bi bi-clock-history"></i>
            </div>

            <h5 class="fw-bold">
                Pending Jobs
            </h5>

            <p class="text-muted mb-3">
                Track pending repair requests.
            </p>

            <a href="{% url 'pending_jobs_list' %}"
                class="btn btn-warning btn-sm text-white"
                >

                    View Jobs
            </a>

        </div>

    </div>

    <!-- Vehicle Parts -->

    <div class="col-lg-4 col-md-6">

        <div class="dashboard-card">

            <div class="dashboard-icon bg-danger">
                <i class="bi bi-wrench-adjustable-circle-fill"></i>
            </div>

            <h5 class="fw-bold">
                Vehicle Parts
            </h5>

            <p class="text-muted mb-3">
                Add, edit and manage your vehicles parts.
            </p>

            <a href="{% url 'vehicle_parts_list' %}"
               class="btn btn-danger btn-sm">

                Open Vehicle Parts

            </a>

        </div>

    </div>

    <!-- Completed Jobs -->

    <div class="col-lg-4 col-md-6">

        <div class="dashboard-card">

            <div class="dashboard-icon bg-success">
                <i class="bi bi-check-circle-fill"></i>
            </div>

            <h5 class="fw-bold">
                Completed Jobs
            </h5>

            <p class="text-muted mb-3">
                View completed service history.
            </p>

            <a href="{% url 'completed_jobs_list' %}"
               class="btn btn-success btn-sm">

                Open History

            </a>

        </div>

    </div>

    <!-- Earnings -->

    <div class="col-lg-4 col-md-6">

        <div class="dashboard-card">

            <div class="dashboard-icon bg-dark">
                <i class="bi bi-cash-stack"></i>
            </div>

            <h5 class="fw-bold">
                Earnings
            </h5>

            <p class="text-muted mb-3">
                Track total service earnings.
            </p>

            <a href="#"
               class="btn btn-dark btn-sm">

                View Earnings

            </a>

        </div>

    </div>

    <!-- My Profile -->

    <div class="col-lg-4 col-md-6">

        <div class="dashboard-card">

            <div class="dashboard-icon bg-primary">
                <i class="bi bi-person-circle"></i>
            </div>

            <h5 class="fw-bold">
                My Profile
            </h5>

            <p class="text-muted mb-3">
                Manage mechanic profile details.
            </p>

            <a href="{% url 'profile_page_mechanic' %}"
               class="btn btn-primary btn-sm">

                Open Profile

            </a>

        </div>

    </div>

    <!-- JOB REQUEST MODAL -->
    {% if requests %}

    <div class="modal fade show" id="jobModal" tabindex="-1" style="display:block; background:rgba(0,0,0,0.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">New Work Request</h5>
        </div>

        <div class="modal-body">

            {% for req in requests %}
            <p><b>Customer:</b> {{ req.booking.customer.name }}</p>
            <p><b>Problem:</b> {{ req.booking.problem_description }}</p>
            <p><b>Expires:</b> {{ req.expires_at }}</p>

            <hr>
            {% endfor %}

        </div>

        <div class="modal-footer">

            {% for req in requests %}

            <a href="{% url 'accept_booking' req.id %}"
            class="btn btn-success">
            Accept
            </a>

            <a href="{% url 'reject_booking' req.id %}"
            class="btn btn-danger">
            Reject
            </a>

            {% endfor %}

        </div>

        </div>
    </div>
    </div>

    {% endif %}

</div>

<script>
setTimeout(() => {
    let modal = document.getElementById("jobModal");
    if (modal) {
        modal.style.display = "none";
    }
}, 1000000); // 10 seconds auto close
</script>

<!-- Toggle Script -->
<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

const toggle = document.getElementById("onlineToggle");
const badge = document.getElementById("statusBadge");

/* ✅ 1. SYNC UI ON PAGE LOAD */
window.addEventListener("load", function () {
    updateBadge(toggle.checked);
});

/* ✅ 2. HANDLE TOGGLE CHANGE */
toggle.addEventListener("change", function () {

    fetch("{% url 'toggle_mechanic_status' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": csrftoken,
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            is_online: toggle.checked
        })
    })
    .then(response => response.json())
    .then(data => {

        if (data.status) {
            updateBadge(toggle.checked);
        }

    })
    .catch(error => {
        console.log("Error:", error);
    });

});

/* ✅ 3. CENTRAL UI UPDATE FUNCTION */
function updateBadge(isOnline) {

    if (isOnline) {
        badge.classList.remove("bg-danger");
        badge.classList.add("bg-success");
        badge.innerHTML = "● Online";
    } else {
        badge.classList.remove("bg-success");
        badge.classList.add("bg-danger");
        badge.innerHTML = "● Offline";
    }
}
</script>

{% endblock %}